<center>
    <h1>Registro</h1>
    <form action="/api/sessions/login" method="POST" , class="form-group">
        <br>
        <input type="text" name="email" placeholder="email">
        <br>
        <input type="text" name="password" placeholder="password">
        <button>Enviar</button>
    </form>
</center>