<h1>Bienvenidos a Lista de Productos</h1>

<div>
    {{#each products}}
    <li>
        <strong>Nombre: </strong>{{this.title}}
    </li>
    {{/each}}
</div>
<div class="text-center">
    {{#if hasPrevPage}}
        <a href="/views/products?numPage={{prevPage}}" class="btn btn-outline-dark">Anterior</a>
    {{/if}}
    <label>5</label>
    {{#if hasNextPage}}
        <a href="/views/products?numPage={{nextPage}}" class="btn btn-outline-dark">Siguiente</a>
    {{/if}}
</div>